body {
    background-image: url(../images/picture.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 20px;
}

form {
    font-size:1.5em;
  }
  
  button, div, form, input {
      margin:10px;
  }

  